## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>demo</title>
    <script src="/javascript/jquery.js">
    </script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                obj = {};
                systemIpObj = {};
                obj.systemips = systemIpObj;
                var host = $("#host").val();
                var edge = $("#edge").val();
                var sip = $("#sip").val();
                var mcu = $("#mcu").val();
                systemIpObj.host = host;
                systemIpObj.edge = edge;
                systemIpObj.sip = sip;
                systemIpObj.mcu = mcu;
                var params = JSON.stringify(obj);
                var hostname = document.location.hostname
                alert(params);
                $.ajax({
                    type: "POST",
                    cache:false,
                    async:false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",//返回值类型
                    url: "http://"+hostname+":6060/ips",
                    data:params,
                    success: function(data){
                        var resultData = '返回码='+data.status+',响应结果='+data.message+',耗时='+data.tcost;
                        alert(resultData);
                    },
                    error : function(xhr, ts, et) {
                        var resultData = ts+":"+et+"\n"+'返回码='+xhr.status+',响应结果='+xhr.responseText;
                        alert('服务调用失败!\n' + resultData);
                    }
                });
            });
        });
    </script>
</head>
<body>
		<div align="center">
	<h1>服务器IP地址配置</h1>
	<br><br><br>
	<table>
  <tr>
    <td>
      <li> Host IP
    </td>
    <td>
      <input type="text" id="host" />
    </td>
  </tr>
  <tr>
    <td>
      <li> SIP Server IP
    </td>
    <td>
      <input type="text" id="sip" />
    </td>
  </tr>
  <tr>
    <td>
      <li> Edge Server IP
    </td>
    <td>
      <input type="text" id="edge" />
    </td>
  </tr>
  <tr>
    <td>
      <li> MCU IP
    </td>
    <td>
      <input type="text" id="mcu" />
    </td>
  </tr>
</table>
<br><br>
<p align="center">
      <button>提交</button>
</p>

  </tr>
</div>
</body>
</html>
